<div class="post-container" *ngFor="let post of posts">
    <div class="user-profile">
        <img [src]="post.profilePic">
        <div>
            <p>{{ post.name }}</p>
            <span>{{ post.date }}</span>
        </div>
    </div>
    <p class="post-text"> {{ post.text }} <a href="#">#BetterEveryDay </a><a href="#">#BrickByBrick</a></p>
    <img [src]="post.image" class="post-img">

    <div class="post-row">
        <div class="activity-icons">
            <div><img src="assets/images/like-blue.png">{{ post.likes }}</div>
            <div><img src="assets/images/comments.png">{{ post.comments }}</div>
            <div><img src="assets/images/share.png">{{ post.shares }}</div>
        </div>
    </div>
</div>