<nav>
    <div class="nav-left">
      <div class="logo-container">
        <img src="assets/images/fitnessLogo.png" class="logo" alt="Fitness Logo">
        <span class="app-title w3-monospace">FitConnect</span>
      </div>
      <ul>
        <li><img src="assets/images/notification.png"></li>
        <li><img src="assets/images/inbox.png"></li>
        <li><img src="assets/images/video.png"></li>
      </ul>
    </div>
    <div class="nav-right">
  
        <span class="spacer"></span>
        <mat-form-field class="search-field">
          <mat-label>Search User</mat-label>
          <input matInput (input)="onSearch()">
        </mat-form-field>
        <div class="nav-user-icon">
          <img src="assets/images/me.jpg" alt="User Icon">
        </div>
        <button mat-raised-button color="accent" (click)="openNewUserDialog()">New User</button>
    </div>
  </nav>

 
  