:root {
  --primary-color: #1a855e; /* Your new primary color */
  --accent-color: #1a855e;  /* Matching the primary color for a single palette */
  --warn-color: #b71c1c;    /* Optional: Keep red for warnings */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1a855e;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.logo {
    width: 160px;
    height: 100px;
}

.app-title {
    font-family: "Courier New", Courier, monospace; 
    font-size: 30px; 
    color: white; 
    text-align: center;
    margin-left: 8px;
    z-index: 1;
    top: 80px;
    position: absolute;
    margin-bottom: 10px;

}
  
  .nav-left, .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-left ul li {
    list-style: none;
    display: inline-block;
  }
  
  .nav-left ul li img {
    width: 28px;
    margin: 0 15px;
  }
  
.spacer {
  flex: 1; /* Pushes items right */
}

.search-field {
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.nav-user-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
}

.nav-user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-left: 12px;
  margin-right: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.default-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px; 
  line-height: 1; 
  margin: 0; 
  padding: 0; 
}

button {
  margin-bottom: 10px; 
}

.no-users {
  padding: 8px;
  color: gray;
}

.user-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}