<div class="post-container">
    <div class="user-profile">
      <img src="assets/images/flex.jpg">
      <div>
        <p>Example</p>
        <span>February 10 2025, 12:58 pm </span>
      </div>
    </div>
    <p class="post-text"> Your Fitness Post Could Look Like this! <a href="#">#BetterEveryDay </a><a href="#">#BrickByBrick</a></p>
    <img src="assets/images/feed.jpg" class="post-img">
  
    <div class="post-row">
      <div class="activity-icons">
        <div><img src="assets/images/like-blue.png">120</div>
        <div><img src="assets/images/comments.png">45</div>
        <div><img src="assets/images/share.png">20</div>
      </div>
      <div class="post-profile-icon">
        <img src="assets/images/profilePic.jpg">
      </div>
    </div>
  </div>