<div class="right-sidebar">
    <div class="sidebar-title">
        <h4>Events</h4>
        <a href="#">See All</a>
    </div>
    <div class="event" *ngFor="let event of events">
        <div class="left-event">
            <h3>{{ event.day }}</h3>
            <span>{{ event.month }}</span>
        </div>
        <div class="right-event">
            <h4>{{ event.title }}</h4>
            <p><i class='fas fa-map-marker-alt'></i> {{ event.location }}</p>
            <a href="#">More Info</a>
        </div>
    </div>
</div>