<div class="right-sidebar">
    <div class="sidebar-title">
      <h4>Events</h4>
      <a href="#">See All</a>
    </div>
  
    <app-event></app-event>
    <app-event></app-event>
  
    <div class="sidebar-title">
      <h4>Advertisement</h4>
      <a href="#">Close</a>
    </div>
    <img src="assets/images/proteinAdd.jpg" class="sidebar-ad">
  
    <div class="sidebar-title">
      <h4>Let's Chat</h4>
      <a href="#">Hide Chat</a>
    </div>
    <app-online-list></app-online-list>
    <app-online-list></app-online-list>
    <app-online-list></app-online-list>
  </div>