<div class="story-container">
    <div class="story">
      <i class="fa-solid fa-circle-plus custom-icon"></i>
      <p>Post New Story</p>
    </div>
    <div class="story story-2">
      <img src="assets/images/DPHeadshot.jpg">
      <p>DP</p>
    </div>
    <div class="story story-3">
      <img src="assets/images/mike.jpg">
      <p>Mike</p>
    </div>
    <div class="story story-4">
      <img src="assets/images/jim.jpg">
      <p>Jim</p>
    </div>
    <div class="story story-5">
      <img src="assets/images/lama.jpg">
      <p>Lama</p>
    </div>
  </div>