<div class="write-post-container">
    <div class="user-profile">
      <img src="assets/images/profilePic.jpg">
      <div>
        <p>Baby</p>
        <small>Public <i class="fa-solid fa-caret-down"></i></small>
      </div>
    </div>
  
    <div class="post-input-container">
      <textarea rows="3" placeholder="What's on your mind, Baby?"></textarea>
      <div class="add-post-links">
        <a href="#"><img src="assets/images/live-video.png"> Live Video</a>
        <a href="#"><img src="assets/images/photo.png"> Photos or Video</a>
        <a href="#"><img src="assets/images/feeling.png"> Feeling</a>
      </div>
    </div>
  </div>